#navbar{
    position: fixed;
    margin: 0;
    border: 0;
    padding: 0, 20px, 0, 20px;
    width: 100%; height: auto;
    background-color: transparent;
    color: black;
    z-index: 100;
}
#navbar-container{
    color: black;
    padding-left: 50px; padding-right: 50px;
}
#bs-navbar-collapse-1{
    color: black;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
}
#video-page{
    display: block;
    position: relative;
    top: 0px; left: 0;
    margin: auto;
    width: 100%; height: 100%;
    overflow: hidden;
}
video#bgvid {
    display: block;
    position: relative;
    left: auto; right: auto;
    margin-left: auto; margin-right: auto;
    width: 100%; height: auto;
    background: url(img/hall_master.jpg) no-repeat;
    background-size: cover;
}
#video-text{
    background-color: white; opacity: 0.3;
    display: block;
    position: absolute;
    top: 15%;left: 5%;
    width: auto; height: auto;
    margin: 0, 10px, 0, 10%;
    z-index: 200;
    color: black;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

#gallary{
    display: block;
    position: relative;
    margin-top: 10px;
}
.cca-picture{
    display: block;
    left: auto; right: auto;
    margin-left: auto; margin-right: auto;
    width: auto; height: 100%;
}

#footer{
    background-image: url(../img/bg-footer.jpg);
    display: block;
    height: 400px;
    width: auto;
    margin: auto;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}
#footer-container{
    display: block;
    height: auto;
    width: auto;
    margin: 0px, 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
}
#footer-index-bar{
    display: block;
    color: black;
}
#footer-row{
    display: block;
    color: white;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
}
#footer-list{
    display: block;
    color: white;
    list-style: none;
}
#footer-copyright{
    display: block;
    color: white;
}